body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4BB9FF;   /* dark background */
    color: white;                /* default text color */
}


.title {
    font-size: 30rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: left;
    margin-top: 40px;
    font-size: 10rem;
    color: #ffffff;
}

div{
    font-size: 10rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    font-size: 5rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

#Aboutme {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0078ff;
    border: none;
    border-radius: 6px;
    font-size: 10rem;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

#Aboutme:hover {
    background-color: #005fcc;
}

#rotating-text {
    transition: color 0.5s ease;
}
