.title {
    font-size: 30rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    font-size: 10rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    font-size: 5rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

#rotating-text {
    transition: color 0.5s ease;
}
